<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>City Population/Temperature Layers</title>

  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

   <!--D3 cdn-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
<a href="/">1950s map</a>
<a href="/sixty">1960s map</a>
<a href="/seventy">1970s map</a>
<a href="/eighty">1980s map</a>
<a href="/ninety">1990s map</a>
<a href="/twothousand">2000s map</a>
<a href="/citypop">Population Figures</a>
<a href="/dbreturn">JSON</a>


</head>

<body><br>
[
  "1950-01-01", 
  "15313003", 
  "4143568", <br>
  "1960-01-01", 
  "14958106", 
  "5905934", <br>
  "1970-01-01", 
  "14552318", 
  "7259750", <br>
  "1980-01-01", 
  "12870368", 
  "8218169", <br>
  "1990-01-01", 
  "12676736", 
  "9331862", <br>
  "2000-01-01", 
  "13438826", 
  "10644909", <br>
  "2010-01-01", 
  "13506755", 
  "11341929"<br>
] 
</body>
</html>
